<!-- EVENT attachment_file_before -->

<!-- BEGIN _file -->
	<!-- IF _file.S_DENIED -->
	<p>[{_file.DENIED_MESSAGE}]</p>
	<!-- ELSE -->
		<!-- EVENT attachment_file_prepend -->

		<!-- IF _file.S_THUMBNAIL -->
		<dl class="thumbnail p-2 rounded-lg border border-dashed border-gray-200">
			<dt><a class="flex" href="{_file.U_DOWNLOAD_LINK}"><img src="{_file.THUMB_IMAGE}" class="postimage rounded-lg" alt="{% if _file.COMMENT %}{{ _file.COMMENT|e('html') }}{% else %}{{ _file.DOWNLOAD_NAME }}{% endif %}" title="{_file.DOWNLOAD_NAME} ({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}"></a></dt>
			<!-- IF _file.COMMENT --><dd class="mt-2"> {_file.COMMENT}</dd><!-- ENDIF -->
		</dl>
		<!-- ENDIF -->

		<!-- IF _file.S_IMAGE -->
		<dl class="file p-2 rounded-lg border border-dashed border-gray-200">
			<dt class="attach-image flex"><img src="{_file.U_INLINE_LINK}" class="postimage rounded-lg" alt="{% if _file.COMMENT %}{{ _file.COMMENT|e('html') }}{% else %}{{ _file.DOWNLOAD_NAME }}{% endif %}" onclick="viewableArea(this);"></dt>
			<!-- IF _file.COMMENT --><dd><em>{_file.COMMENT}</em></dd><!-- ENDIF -->
			<dd class="mt-2">{_file.DOWNLOAD_NAME} ({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}</dd>
		</dl>
		<!-- ENDIF -->

		<!-- IF _file.S_FILE -->
		<dl class="file p-2 rounded-lg border border-dashed border-gray-200">
			<dt><!-- IF _file.UPLOAD_ICON -->{_file.UPLOAD_ICON} <!-- ENDIF --><a class="postlink" href="{_file.U_DOWNLOAD_LINK}">{_file.DOWNLOAD_NAME}</a></dt>
			<!-- IF _file.COMMENT --><dd class="mt-2"><em>{_file.COMMENT}</em></dd><!-- ENDIF -->
			<dd class="mt-2">({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}</dd>
		</dl>
		<!-- ENDIF -->

		<!-- EVENT attachment_file_append -->
	<!-- ENDIF -->
<!-- END _file -->
<!-- EVENT attachment_file_after -->