<!-- IF S_AJAX_REQUEST -->
	<form action="{S_CONFIRM_ACTION}" method="post">
		<h3 class="leading-6">{MESSAGE_TITLE}</h3>
		<p class="text-sm mt-1">{MESSAGE_TEXT}</p>

		<div class="mt-4 flex max-md:flex-col items-center justify-center gap-2 leading-[0] md:me-10">
			<input type="button" name="confirm" value="{L_YES}" class="btn-primary transition-all duration-300 flex items-center justify-center max-md:w-full">
			<input type="button" name="cancel" value="{L_NO}" class="btn-primary-outline transition-all duration-300 flex items-center justify-center max-md:w-full">
		</div>
	</form>
<!-- ELSE -->

<!-- INCLUDE overall_header.html -->
<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
	<div class="card">
		<h2 class="card-title message-title">{MESSAGE_TITLE}</h2>
		<div class="p-4 text-center">
			<p>{MESSAGE_TEXT}</p>
			<div class="flex max-md:flex-col items-center justify-center gap-2 mt-4">
				{S_HIDDEN_FIELDS}
				<button type="submit" name="confirm" value="{L_YES}" class="btn-primary relative flex overflow-hidden transition-all duration-300 justify-center max-md:w-full">{L_YES}</button>
				<button type="submit" name="cancel" value="{L_NO}" class="btn-primary-outline relative flex overflow-hidden transition-all duration-300 justify-center max-md:w-full">{L_NO}</button>
			</div>
		</div>
	</div>
</form>
<!-- INCLUDE overall_footer.html -->

<!-- ENDIF -->