<!-- INCLUDE overall_header.html -->

<div class="time flex max-md:flex-col gap-2 my-1 mt-2 items-center <!-- IF S_USER_LOGGED_IN -->justify-between<!-- ELSE -->justify-end<!-- ENDIF -->">
	<div class="current-time card-sm max-md:w-full">{CURRENT_TIME}</div>
	<!-- IF S_USER_LOGGED_IN -->
	<div class="last-visit card-sm max-md:w-full">{LAST_VISIT_DATE}</div>
	<!-- ENDIF -->
</div>

<!-- EVENT index_body_markforums_before -->
<!-- IF U_MARK_FORUMS -->
	<div class="action-bar flex justify-end my-2">
		<a href="{U_MARK_FORUMS}" class="mark-read card-sm !transition-[color] relative flex overflow-hidden transition-all duration-300" accesskey="m" data-ajax="mark_forums_read">
			<i class="iconify" data-mode="style" data-icon="ph:checks-bold" data-width="18" data-height="18" aria-hidden="true"></i>
			<span>{L_MARK_FORUMS_READ}</span>
		</a>
	</div>
<!-- ENDIF -->
<!-- EVENT index_body_markforums_after -->

<!-- INCLUDE forumlist_body.html -->
<!-- EVENT index_body_forumlist_body_after -->

<!-- IF S_DISPLAY_ONLINE_LIST or S_DISPLAY_BIRTHDAY_LIST or NEWEST_USER -->
<div class="stat-block md:my-4 mt-2 card">
	<div class="flex items-center justify-between card-title">
		<h2>{L_INFORMATION}</h2>
		{% if zeina.collapse_panel %}
		<div class="collapse-panel zn-collapse-toggle open leading-[0] py-0.5 px-1 hover:cursor-pointer" id="stat-collapse-btn" data-zn-collapse="#zn-stat-collapse">
			<div class="zn-collapse-open:[transform:rotate(180deg)] transition-all duration-300"><i class="iconify" data-mode="style" data-icon="ri:arrow-down-s-line" data-width="18" data-height="18" aria-hidden="true"></i></div>
		</div>
		{% endif %}
	</div>
	<div id="zn-stat-collapse" class="zn-collapse w-full overflow-hidden" aria-labelledby="stat-collapse-btn">
		<div class="md:p-4 md:mt-2 p-2 mt-1 divide-y space-y-4 stat-content">
			<!-- EVENT index_body_stat_blocks_before -->
			<!-- IF S_DISPLAY_ONLINE_LIST -->
			<div class="online-list flex gap-4">
				<div class="mt-0.5 size-8"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.4"><path stroke-linecap="round" stroke-linejoin="round" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10"/><path stroke-linecap="round" stroke-linejoin="round" d="M13 2.05S16 6 16 12m-5 9.95S8 18 8 12c0-6 3-9.95 3-9.95M2.63 15.5H12m-9.37-7h18.74"/><path d="M21.879 17.917c.494.304.463 1.043-.045 1.101l-2.567.291l-1.151 2.312c-.228.459-.933.234-1.05-.334l-1.255-6.116c-.099-.48.333-.782.75-.525z" clip-rule="evenodd"/></g></svg></div>
				<div class="online-details">
					<h3 class="online-title text-sm font-semibold"><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
					<p class="online-content text-secondary text-sm mt-0.5">
						<!-- EVENT index_body_block_online_prepend -->
						{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br>{RECORD_USERS}<br> 
						<!-- IF U_VIEWONLINE -->
							<br>{LOGGED_IN_USER_LIST}
							<!-- IF LEGEND --><br><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
						<!-- ENDIF -->
						<!-- EVENT index_body_block_online_append -->
					</p>
				</div>
			</div>
			<!-- ENDIF -->
			
			<!-- EVENT index_body_birthday_block_before -->

			<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
			<div class="birthday-list flex gap-4">
				<div class="mt-0.5 size-8"><i class="iconify" data-mode="style" data-icon="ph:cake" data-width="32" data-height="32" aria-hidden="true"></i></div>
				<div class="birthday-details">
					<h3 class="birthday-title text-sm font-semibold">{L_BIRTHDAYS}</h3>
					<p class="birthday-content text-secondary text-sm mt-0.5">
						<!-- EVENT index_body_block_birthday_prepend -->
						<!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
						<!-- EVENT index_body_block_birthday_append -->
					</p>
				</div>
			</div>
			<!-- ENDIF -->

			<!-- IF NEWEST_USER -->
			<div class="statistics flex gap-4">
				<div class="mt-0.5 size-8"><i class="iconify" data-mode="style" data-icon="ph:chart-pie-slice" data-width="32" data-height="32" aria-hidden="true"></i></div>
				<div class="statistics-details">
					<h3 class="statistics-title text-sm font-semibold">{L_STATISTICS}</h3>
					<p class="statistics-content text-secondary text-sm mt-0.5">
						<!-- EVENT index_body_block_stats_prepend -->
						{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
						<!-- EVENT index_body_block_stats_append -->
					</p>
				</div>
			</div>
			<!-- ENDIF -->
			<!-- EVENT index_body_stat_blocks_after -->
		</div>
	</div>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
