{% embed "overall_header.html" %}
	{#-- Auth page without the default header --#}
	{% block header %}{% endblock %}
{% endembed %}

<div class="min-h-full">
	<div id="return_to_index" class="inline-block">
		<a href="{{ U_INDEX }}" class="flex items-center gap-1.5 relative flex overflow-hidden transition-all duration-300 rounded-lg p-2 py-3 hover:text-color hover:bg-primary/[0.08] font-medium text-sm">
			<i class="iconify" data-mode="style" data-icon="ri:arrow-{S_CONTENT_FLOW_BEGIN}-s-line" data-width="18" data-height="18" aria-hidden="true"></i>
			<span>{{ L_INDEX }}</span>
		</a>
	</div>

	<div class="flex flex-col justify-center md:mt-6 mt-2 mb-4">
		<div class="max-w-sm mx-auto w-full mb-9 text-center">
			{% if zeina.logo_image_location %}
				<img class="mx-auto logo" style="{{ zeina.logo_width ? 'width:' ~ zeina.logo_width ~ 'px;' }}{{ zeina.logo_height ? 'height:' ~ zeina.logo_height ~ 'px;' }}" src="{{ T_THEME_PATH ~ '/' ~ zeina.logo_image_location }}" alt="{SITENAME}">
			{% endif %}

			<h1 class="mt-5 text-2xl">
				<!-- IF LOGIN_EXPLAIN -->{LOGIN_EXPLAIN}<!-- ELSE -->{L_LOGIN}<!-- ENDIF -->
			</h1>
		</div>

		<!-- IF not S_ADMIN_AUTH and PROVIDER_TEMPLATE_FILE -->
			<!-- INCLUDE {PROVIDER_TEMPLATE_FILE} -->
		<!-- ENDIF -->

		<div class="max-w-sm mx-auto w-full">
			<form class="space-y-4" action="{S_LOGIN_ACTION}" method="post" id="login" data-focus="<!-- IF S_ADMIN_AUTH -->{PASSWORD_CREDENTIAL}<!-- ELSE -->{USERNAME_CREDENTIAL}<!-- ENDIF -->">
								
				<!-- IF LOGIN_ERROR -->
				<div class="text-sm text-red-700 bg-red-50 border border-red-300 rounded-lg p-4" role="alert">
					<div class="flex">
						<div class="leading-[0] mt-0.5"><i class="iconify" data-mode="style" data-icon="ph:x-circle" data-width="18" data-height="18" aria-hidden="true"></i></div>
						<div class="ms-4">{LOGIN_ERROR}</div>
					</div>
				</div>
				<!-- ENDIF -->
				
				<div>
					<label for="{USERNAME_CREDENTIAL}" class="block text-sm font-medium mb-2">{L_USERNAME}{L_COLON}</label>
					<input type="text" id="{USERNAME_CREDENTIAL}" name="{USERNAME_CREDENTIAL}" autocomplete="username" size="25" value="{USERNAME}" class="inputbox bg-white">
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label for="{PASSWORD_CREDENTIAL}" class="block text-sm font-medium">{L_PASSWORD}{L_COLON}</label>
						<!-- IF S_DISPLAY_FULL_LOGIN and (U_SEND_PASSWORD or U_RESEND_ACTIVATION) -->
						<div class="text-sm">
							<!-- IF U_SEND_PASSWORD --><a href="{U_SEND_PASSWORD}" class="text-sm font-medium text-color">{L_FORGOT_PASS}</a><!-- ENDIF -->
						</div>
						<!-- ENDIF -->
					</div>
					<div class="mt-2 relative">
						<input type="password" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" size="25" autocomplete="current-password" class="inputbox bg-white">
						<button type="button" title="{{ lang('Show Password') }}" data-zn-password="#{PASSWORD_CREDENTIAL}" class="zn-password-toggle absolute top-0 end-0 px-3 rounded-e-md flex items-center h-full">
  						<span class="zn-password-active:block hidden leading-[0]"><i class="iconify text-secondary" data-mode="style" data-icon="ph:eye" data-height="14" data-width="14"></i></span>
  						<span class="zn-password-active:hidden leading-[0]"><i class="iconify text-secondary" data-mode="style" data-icon="ph:eye-slash" data-height="14" data-width="14"></i></span>
							<span class="sr-only">{{ lang('Show Password') }}</span>
						</button>
					</div>
				</div>
				
				<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
					<div><!-- INCLUDE {CAPTCHA_TEMPLATE} --></div>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_FULL_LOGIN -->
				<div>
					<!-- IF S_AUTOLOGIN_ENABLED -->
					<div class="flex">
						<input id="autologin" name="autologin" type="checkbox" class="checkbox-primary">
						<label for="autologin" class="text-sm text-secondary ms-3">{L_LOG_ME_IN}</label>
					</div>
					<!-- ENDIF -->
					<div class="flex mt-2">
						<input id="viewonline" name="viewonline" type="checkbox" class="checkbox-primary">
						<label for="viewonline" class="text-sm text-secondary ms-3">{L_HIDE_ME}</label>
					</div>
				</div>
				<!-- ENDIF -->

				<div>
					{S_LOGIN_REDIRECT}
					{S_FORM_TOKEN_LOGIN}
					{S_HIDDEN_FIELDS}
          <input type="submit" name="login" value="{L_LOGIN}" class="relative flex overflow-hidden transition-all duration-300 btn-primary flex w-full justify-center" />
				</div>

			</form>
			<div class="flex flex-col gap-y-3 mt-8">
				<!-- IF U_RESEND_ACTIVATION --><a href="{U_RESEND_ACTIVATION}" class="text-sm text-center font-medium text-color">{L_RESEND_ACTIVATION}</a><!-- ENDIF -->
				<!-- IF not S_ADMIN_AUTH and S_REGISTER_ENABLED -->
					<p class="text-center text-sm text-secondary">
						{{ lang('Not a member?') }}
						<a href="{U_REGISTER}" class="font-medium text-color">{L_REGISTER}</a>
					</p>
				<!-- ENDIF -->
			</div>
		</div>
	</div>
</div>

{% embed "overall_footer.html" %}
	{#-- Auth page without the default footer --#}
	{% block footer %}{% endblock %}
{% endembed %}