<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

	<!-- IF not S_PM -->
	<div class="forum-selection flex max-md:flex-col md:items-center gap-2 lg:float-end max-lg:mb-4">
		<label for="fo" class="text-sm">{L_FORUM}{L_COLON}</label>
		<select name="f" id="fo" class="lg:w-auto">{S_FORUM_OPTIONS}</select>
		<button type="submit" name="sort" class="btn-primary relative flex overflow-hidden transition-all duration-300 justify-center" value="{L_GO}">{L_GO}</button>
		{S_FORM_TOKEN}
	</div>
	<!-- ENDIF -->

	<h2 class="mb-0.5">{L_TITLE}</h2>
	<p class="text-sm text-secondary">{L_EXPLAIN}</p>

	<!-- IF .postrow -->
	<div class="action-bar bar-top my-3">
		<div class="pagination flex flex-wrap justify-end gap-1">
			<!-- IF .pagination -->
			{% include 'pagination.html' with {'TOTAL': TOTAL_REPORTS} %}
			<!-- ELSE -->
			<div class="card-sm">{TOTAL_REPORTS} &bull; {PAGE_NUMBER}</div>
			<!-- ENDIF -->
		</div>
	</div>

	<div class="mt-3">
		<div class="overflow-auto">
			<div class="min-w-full inline-block align-middle">
				<div class="border border-gray-200 rounded-lg overflow-hidden">
					<table class="min-w-full">
						<thead class="bg-slate-50 border-b">
							<tr>
								<th scope="col" class="p-3 w-16">
									<div class="flex justify-center items-center">
										<input id="table-checkbox-all" type="checkbox" onclick="marklist('mcp', 'report_id_list', this.checked);" class="checkbox-primary">
										<label for="table-checkbox-all" class="sr-only">{L_MARK_ALL}</label>
									</div>
								</th>
								<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_VIEW_DETAILS}</th>
								<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_REPORTER}<!-- IF not S_PM --> &amp; {L_FORUM}<!-- ENDIF --></th>
							</tr>
						</thead>
						<tbody class="divide-y">
						<!-- BEGIN postrow -->
							<tr class="divide-y <!-- IF postrow.S_ROW_COUNT is odd -->max-lg:bg-gray-50 bg1<!-- ELSE --> bg2<!-- ENDIF -->">
								<td class="p-3 max-lg:flex max-lg:items-center max-lg:gap-2">
									<dfn class="mb-0">{L_MARK}{L_COLON}</dfn>
									<div class="text-center leading-[0]">
										<input id="table-checkbox-{postrow.REPORT_ID}" type="checkbox" name="report_id_list[]" value="{postrow.REPORT_ID}" class="checkbox-primary">
										<label for="table-checkbox-{postrow.REPORT_ID}" class="sr-only">{L_MARK}</label>
									</div>
								</td>
								<!-- IF S_PM -->
								<td class="p-3">
									<dfn>{L_VIEW_DETAILS}{L_COLON}</dfn>
									<div class="list-inner text-sm">
										<a href="{{ postrow.U_VIEW_DETAILS }}" class="topictitle font-medium">{{ postrow.PM_SUBJECT }}</a>
										{% if postrow.ATTACH_ICON_IMG %} <i class="iconify" data-mode="style" data-icon="ph:paperclip-bold" aria-hidden="true"></i>{% endif %}
										<br>
										<span class="text-secondary">{L_MESSAGE_BY_AUTHOR} {postrow.PM_AUTHOR_FULL} &raquo; {postrow.PM_TIME}</span><br>
										<span class="text-secondary">{L_MESSAGE_TO}</span> {postrow.RECIPIENTS}
									</div>
								</td>
								<td class="p-3">
									<dfn>{L_REPORTER}{L_COLON}</dfn>
									<span class="text-sm">{postrow.REPORTER_FULL}</span> <span class="text-sm text-secondary">&laquo; {postrow.REPORT_TIME}</span>
								</td>
								<!-- ELSE -->
								<td class="p-3">
									<dfn>{L_VIEW_DETAILS}</dfn>
									<div class="list-inner text-sm">
										<a href="{{ postrow.U_VIEW_DETAILS }}" class="topictitle font-medium">{{ postrow.POST_SUBJECT }}</a>
										{% if postrow.ATTACH_ICON_IMG %} <i class="iconify" data-mode="style" data-icon="ph:paperclip-bold" aria-hidden="true"></i>{% endif %}
										<br>
										<span class="text-secondary">{L_POSTED} {L_POST_BY_AUTHOR}</span> {postrow.POST_AUTHOR_FULL} <span class="text-secondary">&raquo; {postrow.POST_TIME}</span>
									</div>
								</td>
								<td class="p-3">
									<dfn>{L_REPORTER} &amp; {L_FORUM}{L_COLON}</dfn>
									<div class="text-sm">
										{postrow.REPORTER_FULL} <span class="text-secondary">&laquo; {postrow.REPORT_TIME}</span><br>
										<!-- IF postrow.U_VIEWFORUM --><span class="font-medium text-secondary">{L_FORUM}{L_COLON}</span> <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a><!-- ELSE --><span class="text-secondary">{postrow.FORUM_NAME}</span><!-- ENDIF -->
									</div>
								</td>
								<!-- ENDIF -->
							</tr>
						<!-- END postrow -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="action-bar bottom my-3">
		<div class="flex flex-wrap items-center justify-between gap-2">
			<!-- INCLUDE display_options.html -->
			<div class="pagination flex flex-wrap items-center justify-end gap-1">
				<!-- IF .pagination -->
				{% include 'pagination.html' with {'TOTAL': TOTAL_REPORTS} %}
				<!-- ELSE -->
				<div class="card-sm">{TOTAL_REPORTS} &bull; {PAGE_NUMBER}</div>
				<!-- ENDIF -->
			</div>
		</div>
		<!-- IF TOPIC_ID -->
			<label class="font-medium mt-5 text-secondary text-sm flex items-center gap-2">
				<input type="hidden" name="t" value="0">
				<input type="checkbox" class="checkbox-primary" name="t" value="{TOPIC_ID}" checked="checked" onClick="document.getElementById('mcp').submit()">
				{L_ONLY_TOPIC}
			</label>
		<!-- ENDIF -->
	</div>

	<div class="display-actions flex max-lg:flex-col-reverse w-full items-center justify-end mt-3 gap-2">
		<button class="btn-primary-outline max-lg:w-full relative flex overflow-hidden transition-all duration-300 justify-center" type="submit" name="action[delete]" value="{L_DELETE_REPORTS}">{L_DELETE_REPORTS}</button>
		<!-- IF not S_CLOSED --><button class="btn-primary max-lg:w-full relative flex overflow-hidden transition-all duration-300 justify-center" type="submit" name="action[close]" value="{L_CLOSE_REPORTS}">{L_CLOSE_REPORTS}</button><!-- ENDIF -->
	</div>
	<div class="flex w-full items-center justify-end mt-3 gap-2 lg:hidden">
		<a class="btn-primary-outline max-lg:w-full relative flex overflow-hidden transition-all duration-300 justify-center" href="#" onclick="marklist('mcp', 'report_id_list', true); return false;">{L_MARK_ALL}</a>
		<a class="btn-primary-outline max-lg:w-full relative flex overflow-hidden transition-all duration-300 justify-center" href="#" onclick="marklist('mcp', 'report_id_list', false); return false;">{L_UNMARK_ALL}</a>
	</div>

	<!-- ELSE -->
	<div class="mt-4 bg-gray-50 border border-gray-200 text-sm text-secondary rounded-lg p-4" role="alert">
		<div class="flex items-center gap-2">
			<div class="leading-[0]"><i class="iconify" data-mode="style" data-icon="lucide:info" data-width="18" data-height="18" aria-hidden="true"></i></div>
			<p>{L_NO_REPORTS}</p>
		</div>
	</div>
	<!-- ENDIF -->

</form>

<!-- INCLUDE mcp_footer.html -->