<!-- INCLUDE mcp_header.html -->

<h2 class="mb-0.5">{L_WHOIS}</h2>

<div>
	<p class="text-sm my-4">
		<a href="{U_RETURN_POST}" class="relative flex overflow-hidden transition-all duration-300 items-center gap-2" accesskey="r">
			<i class="iconify" data-mode="style" data-icon="ri:arrow-{S_CONTENT_FLOW_BEGIN}-s-line" data-width="18" data-height="18" aria-hidden="true"></i><span>{L_RETURN_POST}</span>
		</a>
	</p>
	<div class="postbody border rounded-lg p-4 bg-gray-50">
		<div class="content">
			<pre>{WHOIS}</pre>
		</div>
	</div>
	<p class="text-sm my-4">
		<a href="{U_RETURN_POST}" class="relative flex overflow-hidden transition-all duration-300 items-center gap-2" accesskey="r">
			<i class="iconify" data-mode="style" data-icon="ri:arrow-{S_CONTENT_FLOW_BEGIN}-s-line" data-width="18" data-height="18" aria-hidden="true"></i><span>{L_RETURN_POST}</span>
		</a>
	</p>
</div>

<!-- INCLUDE mcp_footer.html -->