{% if S_REGISTER_FORM %}
<div>
	<label for="timezone" class="block text-sm font-medium mb-2">{L_BOARD_TIMEZONE}{L_COLON}</label>
	<div class="flex flex-col gap-2">
{% else %}
	<dl class="py-4 md:grid md:grid-cols-3 md:gap-5">
		<dt class="text-sm font-medium leading-6"><label for="timezone">{L_BOARD_TIMEZONE}{L_COLON}</label></dt>
		<dd class="text-sm md:col-span-2 max-md:mt-2">
{% endif %}

	<!-- IF .timezone_date -->
		<div id="tz_select_date" class="{% if not S_REGISTER_FORM %} mb-2 {% endif %}" style="display: none;">
			<div class="flex max-md:flex-col items-center justify-between gap-2">
				<select name="tz_date" id="tz_date" class="tz_select{% if S_REGISTER_FORM %} bg-white{% endif %}">
					<option value="">{L_SELECT_CURRENT_TIME}</option>
					<!-- BEGIN timezone_date -->
						<option value="{timezone_date.VALUE}"<!-- IF timezone_date.SELECTED --> selected="selected"<!-- ENDIF -->>{timezone_date.TITLE}</option>
					<!-- END timezone_date -->
				</select>
				<input type="button" id="tz_select_date_suggest" class="btn-primary justify-center max-md:w-full transition-all duration-300" style="display: none;" timezone-preselect="<!-- IF S_TZ_PRESELECT -->true<!-- ELSE -->false<!-- ENDIF -->" data-l-suggestion="{L_TIMEZONE_DATE_SUGGESTION}" value="{L_TIMEZONE_DATE_SUGGESTION}">
			</div>
		</div>
	<!-- ENDIF -->
	<select name="tz" id="timezone" class="tz_select timezone{% if S_REGISTER_FORM %} bg-white{% endif %}">
		<option value="">{L_SELECT_TIMEZONE}</option>
		<!-- BEGIN timezone_select -->
		<optgroup label="{timezone_select.LABEL}" data-tz-value="{timezone_select.VALUE}">
			<!-- BEGIN timezone_options -->
			<option title="{timezone_select.timezone_options.TITLE}" value="{timezone_select.timezone_options.VALUE}"<!-- IF timezone_select.timezone_options.SELECTED --> selected="selected"<!-- ENDIF -->>{timezone_select.timezone_options.LABEL}</option>
			<!-- END timezone_options -->
		</optgroup>
		<!-- END timezone_select -->
	</select>

{% if S_REGISTER_FORM %}
	</div>
</div>
{% else %}
		</dd>
	</dl>
{% endif %}

{% INCLUDEJS T_THEME_PATH ~ '/assets/js/timezone.js' %}
