<!-- INCLUDE ucp_header.html -->

<h2 class="mb-0.5">{L_TITLE}</h2>
<p class="text-sm text-secondary mb-4">{L_UCP_WELCOME}</p>
	
<!-- IF .topicrow -->
<h3 class="mb-0.5">{L_IMPORTANT_NEWS}</h3>

<div class="flex flex-col my-4">
	<div class="-m-1.5 overflow-auto">
		<div class="p-1.5 min-w-full inline-block align-middle">
			<div class="border border-gray-200 rounded-lg overflow-hidden">
				<table class="min-w-full">
					<thead class="bg-slate-50 border-b">
						<tr>
							<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_BOOKMARKS}</th>
							<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_LAST_POST}</th>
						</tr>
					</thead>
					<tbody class="divide-y">
					<!-- BEGIN topicrow -->
						<tr class="row divide-y<!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ELSEIF topicrow.S_ROW_COUNT is odd --> max-lg:bg-gray-50 bg1<!-- ELSE --> bg2<!-- ENDIF -->">
							<td class="p-3">
								<dfn>{L_BOOKMARKS}{L_COLON}</dfn>
								<div class="flex max-md:flex-col w-full md:justify-between md:col-span-5 relative gap-y-3" title="{topicrow.TOPIC_FOLDER_IMG_ALT}">
									<div class="flex flex-row gap-4">
										<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}" class="row-item-link"></a><!-- ENDIF -->
										<div class="topic-icon mt-0.5 leading-[0] {topicrow.TOPIC_IMG_STYLE}"<!-- IF topicrow.TOPIC_ICON_IMG and topicrow.S_TOPIC_ICONS --> style="--topic-icon: url('{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}');"<!-- ENDIF -->>
											{% include 'forumlist_icons.html' with {'IMG_STYLE': topicrow.TOPIC_IMG_STYLE} %}
										</div>
										<div class="topic-details">
											<div class="flex items-center gap-2 max-md:py-1">
												<!-- IF topicrow.S_UNREAD_TOPIC -->
												<a class="unread leading-[0]" href="{topicrow.U_NEWEST_POST}">
													<i class="iconify text-color" data-mode="style" data-icon="ph:file" data-height="14" data-width="14" aria-hidden="true"></i><span class="sr-only">{L_NEW_POST}</span>
												</a>
												<!-- ENDIF -->
												<h3 class="text-sm font-semibold "><!-- IF topicrow.U_VIEW_TOPIC --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle max-md:py-1">{topicrow.TOPIC_TITLE}</a><!-- ELSE -->{topicrow.TOPIC_TITLE}<!-- ENDIF --></h3>
											</div>
											<div class="topic-poster flex flex-wrap items-center gap-1 text-xs font-medium mt-1 text-secondary">
												<!-- IF topicrow.ATTACH_ICON_IMG --><i class="iconify" data-mode="style" data-icon="ph:paperclip-bold" data-height="16" data-width="16" aria-hidden="true"></i><!-- ENDIF -->
												{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; <span class="text-secondary">{topicrow.FIRST_POST_TIME}</span>
											</div>
										</div>
									</div>
									<!-- IF .topicrow.pagination -->
									<div class="pagination flex items-center gap-1 max-md:justify-center">
										<i class="iconify text-secondary" data-mode="style" data-icon="ph:copy" data-height="16" data-width="16" aria-hidden="true"></i>
										<ul class="flex items-center text-sm text-center justify-center gap-1">
										<!-- BEGIN pagination -->
											<!-- IF topicrow.pagination.S_IS_PREV -->
											<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active py-0.5 px-1 rounded-md font-medium text-secondary hover:text-color bg-gray-100 border min-w-6 text-center"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
											<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis py-0.5 px-1 rounded-md text-secondary hover:text-color hover:bg-gray-100 border min-w-6 text-center"><span>{L_ELLIPSIS}</span></li>
											<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
											<!-- ELSE --><li><a class="relative flex overflow-hidden transition-all duration-300 py-0.5 px-1 rounded-md text-secondary hover:text-color hover:bg-gray-100 border min-w-6 justify-center" href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
											<!-- ENDIF -->
										<!-- END pagination -->
										</ul>
									</div>
									<!-- ENDIF -->
								</div>
							</td>
							<td class="p-3">
								<dfn>{L_LAST_POST}{L_COLON}</dfn>
								<div class="lastpost text-sm col-span-2 font-medium">
									<div class="flex items-center gap-1.5">
										<span>{L_POST_BY_AUTHOR}</span>
										<span>{topicrow.LAST_POST_AUTHOR_FULL}</span>
										<a class="leading-[0]" href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">
											<i class="iconify" data-mode="style" data-icon="ph:arrow-square-out-bold" data-height="16" data-width="16" aria-hidden="true"<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> data-flip="horizontal"<!-- ENDIF -->></i><span class="sr-only">{VIEW_LATEST_POST}</span>
										</a>
									</div>
									<time class="text-xs block mt-1 text-secondary">{topicrow.LAST_POST_TIME}</time>
								</div>
							</td>
						</tr>
					<!-- END topicrow -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- ENDIF -->

<div>
	<h3 class="mb-4 pb-2 border-b">{L_YOUR_DETAILS}</h3>

	<!-- EVENT ucp_main_front_user_activity_before -->
		<div class="details text-sm flex flex-col gap-3">
			<!-- EVENT ucp_main_front_user_activity_prepend -->
			<div class="grid md:grid-cols-4 gap-3"><span class="md:text-end font-medium">{L_JOINED}{L_COLON}</span> <span class="md:col-span-3">{JOINED}</span></div>
			<div class="grid md:grid-cols-4 gap-3"><span class="md:text-end font-medium">{L_LAST_ACTIVE}{L_COLON}</span> <span class="md:col-span-3">{LAST_VISIT_YOU}</span></div>
			<div class="grid md:grid-cols-4 gap-3"><span class="md:text-end font-medium">{L_TOTAL_POSTS}{L_COLON}</span> <span class="md:col-span-3"><!-- IF POSTS_PCT -->{POSTS}<!-- IF S_DISPLAY_SEARCH --> | <a class="font-semibold" href="{U_SEARCH_USER}">{L_SEARCH_YOUR_POSTS}</a><!-- ENDIF --><br><span class="text-secondary">({POSTS_DAY} / {POSTS_PCT})</span><!-- ELSE -->{POSTS}<!-- ENDIF --></span></div>
			<!-- IF ACTIVE_FORUM != '' --><div class="grid md:grid-cols-4 gap-3"><span class="md:text-end font-medium">{L_ACTIVE_IN_FORUM}{L_COLON}</span> <span class="md:col-span-3"><a class="font-semibold" href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a><br><span class="text-secondary">({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})</span></span></div><!-- ENDIF -->
			<!-- IF ACTIVE_TOPIC != '' --><div class="grid md:grid-cols-4 gap-3"><span class="md:text-end font-medium">{L_ACTIVE_IN_TOPIC}{L_COLON}</span> <span class="md:col-span-3"><a class="font-semibold" href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a><br><span class="text-secondary">({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})</span></span></div><!-- ENDIF -->
			<!-- IF WARNINGS --><div class="grid md:grid-cols-4 gap-3"><span class="md:text-end font-medium">{L_YOUR_WARNINGS}{L_COLON}</span> <span class="error md:col-span-3 text-red-700"><i class="iconify" data-mode="style" data-icon="lucide:circle-alert" data-height="14" data-width="14" aria-hidden="true"></i> [{WARNINGS}]</span></div><!-- ENDIF -->
			<!-- EVENT ucp_main_front_user_activity_append -->
		</div>
	<!-- EVENT ucp_main_front_user_activity_after -->
</div>

<!-- INCLUDE ucp_footer.html -->
