{% embed "overall_header.html" %}
	{#-- Auth page without the default header --#}
	{% block header %}{% endblock %}
{% endembed %}

<div class="min-h-full">
	<div id="return_to_index" class="inline-block">
		<a href="{{ U_INDEX }}" class="flex items-center gap-1.5 relative flex overflow-hidden transition-all duration-300 rounded-lg p-2 py-3 hover:text-color hover:bg-primary/[0.08] font-medium text-sm">
			<i class="iconify" data-mode="style" data-icon="ri:arrow-{S_CONTENT_FLOW_BEGIN}-s-line" data-width="18" data-height="18" aria-hidden="true"></i>
			<span>{{ L_INDEX }}</span>
		</a>
	</div>

	<div class="flex flex-col justify-center md:mt-6 mt-2 mb-4">
		<div class="max-w-sm mx-auto w-full mb-9 text-center">
			{% if zeina.logo_image_location %}
				<img class="mx-auto logo" style="{{ zeina.logo_width ? 'width:' ~ zeina.logo_width ~ 'px;' }}{{ zeina.logo_height ? 'height:' ~ zeina.logo_height ~ 'px;' }}" src="{{ T_THEME_PATH ~ '/' ~ zeina.logo_image_location }}" alt="{SITENAME}">
			{% endif %}
			
			<h1 class="mt-5 text-2xl">{L_RESET_PASSWORD}</h1>
		</div>

		<div class="max-w-sm mx-auto w-full">			
			<form action="{{ U_RESET_PASSWORD_ACTION }}" method="post" id="reset_password" class="space-y-4">
				{% if S_IS_PASSWORD_RESET %}
					{% if PASSWORD_RESET_ERRORS %}
					<div class="text-sm text-red-700 bg-red-50 border border-red-300 rounded-lg p-4" role="alert">
						<div class="flex">
							<div class="leading-[0] mt-0.5"><i class="iconify" data-mode="style" data-icon="ph:x-circle" data-width="18" data-height="18" aria-hidden="true"></i></div>
							<div class="ms-4">{{ PASSWORD_RESET_ERRORS | join('<br>') }}</div>
						</div>
					</div>
					{% endif %}
  				<div>
  					<div class="mb-1 flex items-center justify-between gap-1">
  						<label for="new_password" class="block text-sm font-medium">{L_NEW_PASSWORD}{L_COLON}</label>
  						<button type="button" class="zn-collapse-toggle relative flex overflow-hidden transition-all duration-300 rounded-full p-2 text-secondary hover:text-color hover:bg-primary/[0.08]" data-zn-collapse="#zn-newPassword-collapse">
  							<i class="iconify" data-mode="style" data-icon="ri:question-line" data-width="16" data-height="16" aria-hidden="true"<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> data-flip="horizontal"<!-- ENDIF -->></i>
  						</button>
  					</div>
  					<div id="zn-newPassword-collapse" class="zn-collapse hidden w-full overflow-hidden" aria-labelledby="zn-newPassword-collapse">
  						<p class="text-sm text-secondary pb-2">{L_CHANGE_PASSWORD_EXPLAIN}</p>
  					</div>
  					<div class="relative">
  						<input class="inputbox bg-white" type="password" name="new_password" id="new_password" size="25" maxlength="255" title="{{ lang('CHANGE_PASSWORD') }}" autocomplete="off">
  						<button type="button" title="{{ lang('Show Password') }}" data-zn-password="#new_password" tabindex="-1" class="zn-password-toggle absolute top-0 end-0 px-3 rounded-e-md flex items-center h-full">
    						<span class="zn-password-active:block hidden leading-[0]"><i class="iconify text-secondary" data-mode="style" data-icon="ph:eye" data-height="14" data-width="14"></i></span>
    						<span class="zn-password-active:hidden leading-[0]"><i class="iconify text-secondary" data-mode="style" data-icon="ph:eye-slash" data-height="14" data-width="14"></i></span>
  							<span class="sr-only">{{ lang('Show Password') }}</span>
  						</button>
  					</div>
  				</div>
  				<div>
  					<label for="new_password_confirm" class="block text-sm font-medium mb-2">{L_CONFIRM_PASSWORD}{L_COLON}</label>
  					<div class="relative">
  						<input class="inputbox bg-white" type="password" name="new_password_confirm" id="new_password_confirm" size="25" maxlength="255" title="{{ lang('CONFIRM_PASSWORD') }}" autocomplete="off">
  						<button type="button" title="{{ lang('Show Password') }}" data-zn-password="#new_password_confirm" tabindex="-1" class="zn-password-toggle absolute top-0 end-0 px-3 rounded-e-md flex items-center h-full">
    						<span class="zn-password-active:block hidden leading-[0]"><i class="iconify text-secondary" data-mode="style" data-icon="ph:eye" data-height="14" data-width="14"></i></span>
    						<span class="zn-password-active:hidden leading-[0]"><i class="iconify text-secondary" data-mode="style" data-icon="ph:eye-slash" data-height="14" data-width="14"></i></span>
  							<span class="sr-only">{{ lang('Show Password') }}</span>
  						</button>
  					</div>
  				</div>
				{% else %}
					{% if USERNAME_REQUIRED %}
						<div class="text-sm text-red-700 bg-red-50 border border-red-300 rounded-lg p-4" role="alert">
							<div class="flex">
								<div class="leading-[0] mt-0.5"><i class="iconify" data-mode="style" data-icon="ph:x-circle" data-width="18" data-height="18" aria-hidden="true"></i></div>
								<div class="ms-4">{{ lang('EMAIL_NOT_UNIQUE') }}</div>
							</div>
						</div>
					{% endif %}
					<div>
						<div class="mb-1 flex items-center justify-between gap-1">
							<label for="email" class="block text-sm font-medium">{L_EMAIL_ADDRESS}{L_COLON}</label>
							<button type="button" class="zn-collapse-toggle relative flex overflow-hidden transition-all duration-300 rounded-full p-2 text-secondary hover:text-color hover:bg-primary/[0.08]" data-zn-collapse="#zn-email-collapse">
								<i class="iconify" data-mode="style" data-icon="ri:question-line" data-width="16" data-height="16" aria-hidden="true"<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> data-flip="horizontal"<!-- ENDIF -->></i>
							</button>
						</div>
						<div id="zn-email-collapse" class="zn-collapse hidden w-full overflow-hidden" aria-labelledby="zn-email-collapse">
							<p class="text-sm text-secondary pb-2">{L_EMAIL_REMIND}</p>
						</div>
						<input type="email" name="email" id="email" size="25" class="inputbox bg-white" size="25" maxlength="100" autofocus>
					</div>
					{% if USERNAME_REQUIRED %}
					<div>
						<label for="username" class="block text-sm font-medium mb-2">{L_USERNAME}{L_COLON}</label>
						<input type="text" name="username" id="username" size="25" class="inputbox bg-white">
					</div>
					{% endif %}
				{% endif %}
				<div>
					{S_HIDDEN_FIELDS}
					{S_FORM_TOKEN}
					<button type="submit" name="submit" id="submit" class="relative flex overflow-hidden transition-all duration-300 btn-primary flex w-full justify-center" value="{L_SUBMIT}">{L_SUBMIT}</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% embed "overall_footer.html" %}
	{#-- Auth page without the default footer --#}
	{% block footer %}{% endblock %}
{% endembed %}