<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

	<h2 class="leading-6">{L_TITLE}</h2>

	<!-- IF ERROR -->
	<div class="text-sm text-red-700 bg-red-50 border border-red-300 rounded-lg p-4 my-4" role="alert">
		<p class="error">{ERROR}</p>
	</div>
	<!-- ENDIF -->

	<div class="mt-4 divide-y">
		<!-- EVENT ucp_prefs_post_prepend -->
		<dl class="py-4 md:grid md:grid-cols-3 md:gap-5 items-center">
			<dt class="text-sm font-medium leading-6"><label for="bbcode1">{L_DEFAULT_BBCODE}{L_COLON}</label></dt>
			<dd class="text-sm md:col-span-2 max-md:mt-2">
				<div class="flex max-md:flex-col">
					<label class="radio-label"><input type="radio" name="bbcode" id="bbcode1" class="radio-primary" value="1"<!-- IF S_BBCODE --> checked="checked"<!-- ENDIF -->> {L_YES}</label>
					<label class="radio-label"><input type="radio" name="bbcode" id="bbcode0" class="radio-primary" value="0"<!-- IF not S_BBCODE --> checked="checked"<!-- ENDIF -->> {L_NO}</label>
				</div>
			</dd>
		</dl>
		<dl class="py-4 md:grid md:grid-cols-3 md:gap-5 items-center">
			<dt class="text-sm font-medium leading-6"><label for="smilies1">{L_DEFAULT_SMILIES}{L_COLON}</label></dt>
			<dd class="text-sm md:col-span-2 max-md:mt-2">
				<div class="flex max-md:flex-col">
					<label class="radio-label"><input type="radio" name="smilies" id="smilies1" class="radio-primary" value="1"<!-- IF S_SMILIES --> checked="checked"<!-- ENDIF -->> {L_YES}</label>
					<label class="radio-label"><input type="radio" name="smilies" id="smilies0" class="radio-primary" value="0"<!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF -->> {L_NO}</label>
				</div>
			</dd>
		</dl>
	  {% if S_SIG_ALLOWED %}
		<dl class="py-4 md:grid md:grid-cols-3 md:gap-5 items-center">
			<dt class="text-sm font-medium leading-6"><label for="sig1">{L_DEFAULT_ADD_SIG}{L_COLON}</label></dt>
			<dd class="text-sm md:col-span-2 max-md:mt-2">
				<div class="flex max-md:flex-col">
					<label class="radio-label"><input type="radio" name="sig" id="sig1" class="radio-primary" value="1"<!-- IF S_SIG --> checked="checked"<!-- ENDIF -->> {L_YES}</label>
					<label class="radio-label"><input type="radio" name="sig" id="sig0" class="radio-primary" value="0"<!-- IF not S_SIG --> checked="checked"<!-- ENDIF -->> {L_NO}</label>
				</div>
			</dd>
		</dl>
    {% endif %}
		<dl class="py-4 md:grid md:grid-cols-3 md:gap-5 items-center">
			<dt class="text-sm font-medium leading-6"><label for="notify1">{L_DEFAULT_NOTIFY}{L_COLON}</label></dt>
			<dd class="text-sm md:col-span-2 max-md:mt-2">
				<div class="flex max-md:flex-col">
					<label class="radio-label"><input type="radio" name="notify" id="notify1" class="radio-primary" value="1"<!-- IF S_NOTIFY --> checked="checked"<!-- ENDIF -->> {L_YES}</label>
					<label class="radio-label"><input type="radio" name="notify" id="notify0" class="radio-primary" value="0"<!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF -->> {L_NO}</label>
				</div>
			</dd>
		</dl>
		<!-- EVENT ucp_prefs_post_append -->
	</div>

	<div class="flex items-center md:justify-end">
		{S_HIDDEN_FIELDS}
		<button type="submit" name="submit" class="btn-primary relative flex overflow-hidden transition-all duration-300 max-md:w-full justify-center" value="{L_SUBMIT}">{L_SUBMIT}</button>
		{S_FORM_TOKEN}
	</div>

</form>

<!-- INCLUDE ucp_footer.html -->