<!-- INCLUDE ucp_header.html -->

<h2 class="leading-6"<!-- IF GROUP_COLOUR --> style="color:#{GROUP_COLOUR};"<!-- ENDIF -->>{L_USERGROUPS}<!-- IF GROUP_NAME --> :: {GROUP_NAME}<!-- ENDIF --></h2>
<p class="mt-1 text-sm text-secondary">{L_GROUPS_EXPLAIN}</p>

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

	<!-- IF S_ERROR -->
	<div class="text-sm text-red-700 bg-red-50 border border-red-300 rounded-lg p-4 my-4" role="alert">
		<p class="error">{ERROR_MSG}</p>
	</div>
	<!-- ENDIF -->

	<!-- IF S_EDIT -->
	<div class="mt-5 border p-4 rounded-xl">
		<h3 class="font-medium leading-6">{L_GROUP_DETAILS}</h3>

		<div class="mt-4 divide-y">
			<!-- EVENT ucp_prefs_post_prepend -->
			<dl class="py-4 md:grid md:grid-cols-3 md:gap-5 items-center">
				<dt class="text-sm font-medium leading-6"><label for="group_name">{L_GROUP_NAME}{L_COLON}</label></dt>
				<dd class="text-sm md:col-span-2 max-md:mt-2">
					<!-- IF S_SPECIAL_GROUP --><strong<!-- IF GROUP_COLOUR --> style="color: #{GROUP_COLOUR};"<!-- ENDIF -->>{GROUP_NAME}</strong> <input name="group_name" type="hidden" value="{GROUP_INTERNAL_NAME}">
					<!-- ELSE --><input name="group_name" type="text" id="group_name" value="{GROUP_INTERNAL_NAME}" class="inputbox"><!-- ENDIF -->
				</dd>
			</dl>
			<dl class="py-4 md:grid md:grid-cols-3 md:gap-5">
				<dt class="text-sm font-medium leading-6"><label for="group_desc">{L_GROUP_DESC}{L_COLON}</label></dt>
				<dd class="text-sm md:col-span-2 max-md:mt-2">
					<textarea id="group_desc" name="group_desc" rows="5" cols="45" class="inputbox">{GROUP_DESC}</textarea>
					<div class="flex max-md:flex-col gap-4 mt-3">
						<label class="flex itex-center gap-2" for="desc_parse_bbcode"><input type="checkbox" class="checkbox-primary" name="desc_parse_bbcode" id="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF -->> {L_PARSE_BBCODE}</label>
						<label class="flex itex-center gap-2" for="desc_parse_smilies"><input type="checkbox" class="checkbox-primary" name="desc_parse_smilies" id="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF -->> {L_PARSE_SMILIES}</label>
						<label class="flex itex-center gap-2" for="desc_parse_urls"><input type="checkbox" class="checkbox-primary" name="desc_parse_urls" id="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF -->> {L_PARSE_URLS}</label>
					</div>
				</dd>
			</dl>
			<!-- IF not S_SPECIAL_GROUP -->
			<dl class="py-4 md:grid md:grid-cols-3 md:gap-5">
				<dt class="text-sm"><label for="group_type1" class="font-medium leading-6">{L_GROUP_TYPE}{L_COLON}</label><br><span class="text-secondary">{L_GROUP_TYPE_EXPLAIN}</span></dt>
				<dd class="text-sm md:col-span-2 max-md:mt-2">
					<textarea id="group_desc" name="group_desc" rows="5" cols="45" class="inputbox">{GROUP_DESC}</textarea>
					<div class="flex max-md:flex-col">
						<label class="radio-label" for="group_type1"><input type="radio" class="radio-primary" name="group_type" id="group_type1" value="{GROUP_TYPE_FREE}"{GROUP_FREE}> {L_GROUP_OPEN}</label>
						<label class="radio-label" for="group_type2"><input type="radio" class="radio-primary" name="group_type" id="group_type2" value="{GROUP_TYPE_OPEN}"{GROUP_OPEN}> {L_GROUP_REQUEST}</label>
						<label class="radio-label" for="group_type3"><input type="radio" class="radio-primary" name="group_type" id="group_type3" value="{GROUP_TYPE_CLOSED}"{GROUP_CLOSED}> {L_GROUP_CLOSED}</label>
						<label class="radio-label" for="group_type4"><input type="radio" class="radio-primary" name="group_type" id="group_type4" value="{GROUP_TYPE_HIDDEN}"{GROUP_HIDDEN}> {L_GROUP_HIDDEN}</label>
					</div>
				</dd>
			</dl>
			<!-- ELSE -->
			<input name="group_type" type="hidden" value="{GROUP_TYPE_SPECIAL}">
			<!-- ENDIF -->
		</div>
	</div>


	<div class="mt-5 border p-4 rounded-xl">
		<h3 class="font-medium leading-6">{L_GROUP_SETTINGS_SAVE}</h3>
    
    <!-- EVENT ucp_group_settings_before -->
		<dl class="py-4 md:grid md:grid-cols-3 md:gap-5">
			<dt class="text-sm"><label for="group_type1" class="font-medium leading-6">{L_GROUP_COLOR}{L_COLON}</label><br><span class="text-secondary">{L_GROUP_COLOR_EXPLAIN}</span></dt>
			<dd class="text-sm md:col-span-2 max-md:mt-2">
				<input name="group_colour" type="text" id="group_colour" value="{GROUP_COLOUR}" size="6" maxlength="6" class="inputbox mb-2">
				<span style="background-color: #{GROUP_COLOUR};">&nbsp;&nbsp;&nbsp;</span>
				[ <a href="#" id="color_palette_toggle">{L_COLOUR_SWATCH}</a> ]
				<div id="color_palette_placeholder" class="color_palette_placeholder hidden" data-color-palette="h" data-height="12" data-width="15" data-target="#group_colour"></div>
			</dd>
		</dl>
		<dl class="py-4 md:grid md:grid-cols-3 md:gap-5">
			<dt class="text-sm font-medium leading-6"><label for="group_desc">{L_GROUP_RANK}{L_COLON}</label></dt>
			<dd class="text-sm md:col-span-2 max-md:mt-2">
				<select name="group_rank" id="group_rank" class="inputbox">{S_RANK_OPTIONS}</select>
			</dd>
		</dl>
    <!-- EVENT ucp_group_settings_after -->
	</div>

	<!-- INCLUDE ucp_avatar_options.html -->

	<div class="flex items-center md:justify-end mt-4">
		{S_HIDDEN_FIELDS}
		<button type="submit" name="update" value="{L_SUBMIT}" class="btn-primary relative flex overflow-hidden transition-all duration-300 justify-center max-md:w-full">{L_SUBMIT}</button>
		{S_FORM_TOKEN}
	</div>

<!-- ELSEIF S_LIST -->

	<!-- IF .leader -->
	<div class="mt-4">
		<div class="overflow-auto">
			<div class="min-w-full inline-block align-middle">
				<div class="border border-gray-200 rounded-lg overflow-hidden">
					<table class="min-w-full">
						<thead class="bg-slate-50 border-b">
							<tr>
								<th scope="col" class="p-3 w-16">
									<div class="flex md:justify-center items-center">
										<input id="table-{loop.index}-checkbox-all" type="checkbox" class="checkbox-primary" disabled>
										<label for="table-{loop.index}-checkbox-all" class="sr-only">{L_MARK_ALL}</label>
									</div>
								</th>
								<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_GROUP_LEAD}</th>
								<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_GROUP_DEFAULT}</th>
								<th scope="col" class="p-3 text-center text-xs font-medium text-secondary uppercase">{L_POSTS}</th>
								<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_JOINED}</th>
							</tr>
						</thead>
						<tbody class="divide-y">
							<!-- BEGIN leader -->
								<tr class="divide-y <!-- IF leader.S_ROW_COUNT is odd -->max-lg:bg-gray-50 bg1<!-- ELSE -->bg2<!-- ENDIF --> text-sm">
									<td class="p-3 lg:!hidden">&nbsp;</td>
									<td class="p-3 max-lg:!border-t-0"><dfn>{L_GROUP_LEAD}</dfn>{leader.USERNAME_FULL}</td>
									<td class="p-3"><dfn>{L_GROUP_DEFAULT}</dfn><!-- IF leader.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
									<td class="p-3 lg:text-center"><dfn>{L_POSTS}</dfn>{leader.USER_POSTS}</td>
									<td class="p-3"><dfn>{L_JOINED}</dfn>{leader.JOINED}</td>
								</tr>
							<!-- END leader -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- ENDIF -->

	<!-- BEGIN member -->
		<!-- IF member.S_PENDING -->
			<div class="mt-4">
				<div class="overflow-auto">
					<div class="min-w-full inline-block align-middle">
						<div class="border border-gray-200 rounded-lg overflow-hidden">
							<table class="min-w-full">
								<thead class="bg-slate-50 border-b">
									<tr>
										<th scope="col" class="p-3 w-16">
											<div class="flex md:justify-center items-center">
												<input id="table-{loop.index}-checkbox-all" type="checkbox" onclick="marklist('ucp', 'mark', this.checked);" class="checkbox-primary">
												<label for="table-{loop.index}-checkbox-all" class="sr-only">{L_MARK_ALL}</label>
											</div>
										</th>
										<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_GROUP_LEAD}</th>
										<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_GROUP_DEFAULT}</th>
										<th scope="col" class="p-3 text-center text-xs font-medium text-secondary uppercase">{L_POSTS}</th>
										<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_JOINED}</th>
									</tr>
								</thead>
								<tbody class="divide-y">
		<!-- ELSEIF member.S_APPROVED -->
			<!-- IF S_PENDING_SET -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- ENDIF -->				

			<div class="mt-4">
				<div class="overflow-auto">
					<div class="min-w-full inline-block align-middle">
						<div class="border border-gray-200 rounded-lg overflow-hidden">
							<table class="min-w-full">
								<thead class="bg-slate-50 border-b">
									<tr>
										<th scope="col" class="p-3 w-16">
											<div class="flex justify-center items-center">
												<input id="table-{loop.index}-checkbox-all" type="checkbox" onclick="marklist('ucp', 'mark', this.checked);" class="checkbox-primary">
												<label for="table-{loop.index}-checkbox-all" class="sr-only">{L_MARK_ALL}</label>
											</div>
										</th>
										<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_GROUP_LEAD}</th>
										<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_GROUP_DEFAULT}</th>
										<th scope="col" class="p-3 text-center text-xs font-medium text-secondary uppercase">{L_POSTS}</th>
										<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_JOINED}</th>
									</tr>
								</thead>
								<tbody class="divide-y">
		<!-- ELSE -->
									<tr class="divide-y <!-- IF member.S_ROW_COUNT is odd -->max-lg:bg-gray-50 bg1<!-- ELSE -->bg2<!-- ENDIF --> text-sm">
										<td class="p-3 max-lg:flex max-lg:items-center max-lg:gap-2">
											<dfn class="mb-0">{L_MARK}{L_COLON}</dfn>
											<div class="text-center leading-[0]">
												<input id="checkbox-{member.USER_ID}" type="checkbox" name="mark[]" value="{member.USER_ID}" class="checkbox-primary">
												<label for="checkbox-{member.USER_ID}" class="sr-only">{L_MARK}</label>
											</div>
										</td>
										<td class="p-3"><dfn>{L_GROUP_LEAD}</dfn>{member.USERNAME_FULL}</td>
										<td class="p-3"><dfn>{L_GROUP_DEFAULT}</dfn><!-- IF member.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></td>
										<td class="p-3 lg:text-center"><dfn>{L_POSTS}</dfn>{member.USER_POSTS}</td>
										<td class="p-3"><dfn>{L_JOINED}</dfn>{member.JOINED}</td>
									</tr>
		<!-- ENDIF -->
	<!-- BEGINELSE -->
			<div class="mt-4">
				<div class="overflow-auto">
					<div class="min-w-full inline-block align-middle">
						<div class="border border-gray-200 rounded-lg overflow-hidden">
							<table class="min-w-full">
								<thead class="bg-slate-50 border-b">
									<tr>
										<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_MEMBERS}</th>
									</tr>
								</thead>
								<tbody class="divide-y">
									<tr class="text-sm">
										<td class="p-3"><dfn>{L_MEMBERS}</dfn>{L_GROUPS_NO_MEMBERS}</td>
									</tr>
	<!-- END member -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- IF .pagination -->
			<div class="action-bar bar-bottom">
				<div class="pagination">
					<!-- INCLUDE pagination.html -->
				</div>
			</div>
			<!-- ENDIF -->

			<div class="display-actions flex max-md:flex-col md:items-center mt-3 gap-2 justify-end">
				<select class="inputbox md:w-auto" name="action"><option value="">{L_SELECT_OPTION}</option>{S_ACTION_OPTIONS}</select>
				<button class="btn-primary relative flex overflow-hidden transition-all duration-300 justify-center" type="submit" name="update" value="{L_SUBMIT}">{L_SUBMIT}</button>
			</div>


		<hr class="my-4 border-t border-gray-200">

		<h3 class="font-medium leading-6">{L_ADD_USERS}</h3>
		<p class="text-sm text-secondary">{L_ADD_USERS_UCP_EXPLAIN}</p>

		<div class="mt-4 divide-y">
			<dl class="py-4 md:grid md:grid-cols-3 md:gap-5 items-center">
				<dt class="text-sm"><label for="default0" class="font-medium leading-6">{L_USER_GROUP_DEFAULT}{L_COLON}</label><br><span class="text-secondary">{L_USER_GROUP_DEFAULT_EXPLAIN}</span></dt>
				<dd class="text-sm md:col-span-2 max-md:mt-2">
					<div class="flex max-md:flex-col">
						<label class="radio-label" for="default1"><input class="radio-primary" type="radio" name="default" id="default1" value="1"> {L_YES}</label>
						<label class="radio-label" for="default0"><input class="radio-primary" type="radio" name="default" id="default0" value="0" checked="checked"> {L_NO}</label>
					</div>
				</dd>
			</dl>
			<dl class="py-4 md:grid md:grid-cols-3 md:gap-5 items-center">
				<dt class="text-sm"><label for="default0" class="font-medium leading-6">{L_USERNAME}{L_COLON}</label><br><span class="text-secondary">{L_USERNAMES_EXPLAIN}</span></dt>
				<dd class="text-sm md:col-span-2 max-md:mt-2">
					<textarea name="usernames" id="usernames" rows="3" cols="30" class="inputbox"></textarea>
					<a href="{U_FIND_USERNAME}" class="mt-3 block font-medium text-sm p-1" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
				</dd>
			</dl>
		</div>

		<div class="flex items-center md:justify-end">
			<button type="submit" name="addusers" value="{L_SUBMIT}" class="btn-primary relative flex overflow-hidden transition-all duration-300 max-md:w-full justify-center">{L_SUBMIT}</button>
			{S_FORM_TOKEN}
		</div>

<!-- ELSE -->

	<!-- IF .leader -->
		<div class="mt-4">
			<div class="overflow-auto">
				<div class="min-w-full inline-block align-middle">
					<div class="border rounded-lg overflow-hidden">
						<table class="min-w-full">
							<thead class="bg-slate-50 border-b">
								<tr>
									<th scope="col" class="p-3 text-start text-xs font-medium text-secondary uppercase">{L_GROUP_LEADER}</th>
									<th scope="col" class="py-3 text-center text-xs font-medium text-secondary uppercase w-80">{L_OPTIONS}</th>
								</tr>
							</thead>
							<tbody class="divide-y">
								<!-- BEGIN leader -->
								<tr class="text-sm divide-y <!-- IF leader.S_ROW_COUNT is odd -->max-lg:bg-gray-50 bg1<!-- ELSE --> bg2<!-- ENDIF -->">
									<td class="p-3">
										<dfn>{L_GROUP_LEADER}</dfn>
										<div class="list-inner">
											<a href="{leader.U_EDIT}" class="font-semibold"<!-- IF leader.GROUP_COLOUR --> style="color: #{leader.GROUP_COLOUR};"<!-- ENDIF -->>{leader.GROUP_NAME}</a>
											<!-- IF leader.GROUP_DESC --><div class="text-secondary">{leader.GROUP_DESC}</div><!-- ENDIF -->
										</div>
									</td>
									<td class="p-3">
										<dfn class="mb-2">{L_OPTIONS}</dfn>
										<div class="grid lg:grid-cols-2 lg:text-center gap-2">
											<a href="{leader.U_EDIT}" class="btn-primary-outline font-medium text-current hover:text-color bg-transparent border-gray-200 relative flex overflow-hidden transition-all duration-300">{L_EDIT}</a>
											<a href="{leader.U_LIST}" class="btn-primary-outline font-medium text-current hover:text-color bg-transparent border-gray-200 relative flex overflow-hidden transition-all duration-300">{L_GROUP_LIST}</a>
										</div>
									</td>
								</tr>
								<!-- END leader -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	<!-- ELSE -->
	<div class="mt-4 bg-gray-50 border border-gray-200 text-sm text-secondary rounded-lg p-4" role="alert">
		<div class="flex items-center gap-2">
			<div class="leading-[0]"><i class="iconify" data-mode="style" data-icon="lucide:info" data-width="18" data-height="18" aria-hidden="true"></i></div>
			<p>{L_NO_LEADERS}</p>
		</div>
	</div>
	<!-- ENDIF -->

<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->